%h1 Listing words

%table.scaffold.common-table.zebra-stripped.sortable
  %tr
    %th Name
    %th
    %th
    %th

  - @words.each do |word|
    %tr
      %td= word.name
      %td.button_column= link_to "Delete #{word.name}", word, confirm: 'Are you nuts?', method: :delete, class: 'btn danger float_left'

%br

= link_to 'Add word', new_word_path, class: 'btn primary'
